<div class="container">
    <br/>
    <h2>Get Analysis for your food!!</h2>
    <br>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Enter ingredient</span>
    </div>
        <input type="text" [(ngModel)]="foodItemValue" name="foodItemValue" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>
    <br/>
    <div>
        <button type="button" (click)="getInformation()" class="btn btn-primary btn-lg">Analyze</button>
        <button type="button" class="btn btn-info btn-lg" (click)="rest()">Rest</button>
    </div>
    <br/>
    <br/>

    <div class="row">
      <br><br>
      <div class="form-group col-lg-6 col-lg-offset-3 input-group">
        <div class="panel panel-default col-6">
          <div class="panel-heading">Calories and serving weight in grams</div>
          <br>
          <div class="panel-body">
            <div class="list-group-item clearfix">
              <div class="pull-left">
                <h4 class="list-group-item-text">Calories: {{calories}}</h4>
                <h4 class="list-group-item-text">Serving Weight in Grams :{{servingWeightGrams}}</h4>
              </div>
            </div>
          </div>
        </div>
        </div>
        <br><br>
    </div>
</div>
<br/>  